html
    head
        link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')
    body
        header
            nav.navbar.navbar-expand-lg.navbar-light.bg-light
                button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarTogglerDemo01' aria-controls='navbarTogglerDemo01' aria-expanded='false' aria-label='Toggle navigation')
                    span.navbar-toggler-icon
                #navbarTogglerDemo01.collapse.navbar-collapse
                    ul.navbar-nav.mr-auto.mt-2.mt-lg-0(style='width: 100%')
                        li.nav-item.active
                            a.nav-link(href='/')
                                | Home
                                span.sr-only (current)
                        li.nav-item
                            a.nav-link(href='/users') Users
                        li.nav-item
                            a.nav-link(href='/users/create') Create
                        li.nav-item
                            a.nav-link(href='/treehouse') Profile
        block content
        script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js')
        script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js')
