extends ../layouts/general
block content
    #profile.mt-5
        .container.w-50
            .card
                .row
                    .col-12
                        .card-header.text-white.text-uppercase.text-center.rounded-0.bg-info Profile Searching
                        .card-img-top.text-center.bg-dark.rounded-0
                            img.img-fluid.bg-dark(src="images/logo.png" alt="image")
                        .card-body
                            .row
                                .col-12.d-flex.align-items-center
                                    a.btn.btn-primary.w-50.m-auto(href="treehouse/search") Search